
<p>
    {{ translate({ ident: "UNZER_PLEASE_TRANSFER", args: { unzer_amount, unzer_currency } }) }}
</p>

<p>
    {{ translate({ ident: "UNZER_HOLDER" }) }}: {{ unzer_account_holder }} <br>
    {{ translate({ ident: "UNZER_IBAN" }) }}: {{ unzer_account_iban }} <br>
    {{ translate({ ident: "UNZER_BIC" }) }}: {{ unzer_account_bic }} <br>
    {{ translate({ ident: "UNZER_PLEASE_USE_DESCRIPTOR" }) }}: {{ unzer_account_descriptor }} <br>

</p>
